<div class="col-md-10 p-5">
  <h3><%= judul %></h3>
  <hr />
  <div class="col-md-7">
    <table class="table table-bordered table-striped">
      <thead>
        <tr class="text-center">
          <th class="col-md-2" scope="col">user_id</th>
          <th class="col-md-2" scope="col">skor</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i=0; i < history.length; i++) { %>
        <tr>
            <th class="text-center" scope="row">
              <%= history[i].user.username %>
            </th>
            <td class="text-center">
                <%= history[i].username %>
            </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
